<div class="form-group gerencia-formulario-foot gerencia-formulario-buttons">
  <button type="button" class="btn btn-default pull-left gerencia-formulario-botao-inserir" ng-click="fnInserir()"><i class="glyphicon glyphicon-plus"></i> Inserir</button>
  <button type="button" class="btn btn-default gerencia-formulario-botao-filtrar"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
  <button type="button" class="btn btn-primary gerencia-formulario-botao-limpar"><i class="glyphicon glyphicon-erase"></i> Limpar</button>
  <ng-transclude></ng-transclude>
</div>
