.idea
*.iml
gerencia/config
gerencia/out/*
gerencia/*/out/*
gerencia/build/*
gerencia/*/build/*
gerencia/.gradle/*
gerencia/gradle/*
gerencia/*/.gradle/*
gerencia/*/gradle/*
gerencia/web/src/main/resources/*
gerencia/web/src/main/websrc/node_modules
