<form class="form-horizontal gerencia-formulario" name="teacherForm" ng-init="teacherForm.$setPristine()" novalidate>
  <fieldset>
    <lci-formtitulo>Editar Professor</lci-formtitulo>
    <div class="gerencia-formulario-corpo row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nome" class="col-sm-4 control-label">Nome<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="nome" name="nome" ng-model="teacher.person.name"
                   placeholder="Nome" ng-required="true" ng-minlength="1" ng-maxlength="64" ng-trim="true"
                   lci-capitalize-nome>
            <lci-mensagens expressao="teacherForm.nome.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="teacherForm.nome.$touched">Por favor preencher o nome</lci-mensagem>
              <lci-mensagem caso="maxlength">O nome deve ter menos de 64 caracteres</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="sobrenome" class="col-sm-4 control-label">Sobrenome<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="sobrenome" name="sobrenome" ng-model="teacher.person.surname"
                   placeholder="Sobrenome" ng-required="true" ng-minlength="1" ng-maxlength="64" ng-trim="true"
                   lci-capitalize-nome>
            <lci-mensagens expressao="teacherForm.sobrenome.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="teacherForm.sobrenome.$touched">Por favor preencher o sobrenome
              </lci-mensagem>
              <lci-mensagem caso="maxlength">O nome deve ter menos de 64 caracteres</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="limitHDSpace" class="col-sm-4 control-label">Cota de HD
            <small>(mb)</small>
            <span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="limitHDSpace" name="limitHDSpace"
                   ng-model="teacher.user.limitHDSpace" placeholder="Cota ex 500" ng-required="true"
                   ng-pattern="'^[0-9]*'">
            <lci-mensagens expressao="teacherForm.limitHDSpace.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="teacherForm.limitHDSpace.$touched">Por favor preencher a cota
              </lci-mensagem>
              <lci-mensagem caso="pattern">Cota inválida</lci-mensagem>
              <lci-mensagem caso="maxlength">O DRE deve ter exatamente 10 caracteres</lci-mensagem>
              <lci-mensagem caso="mask">Por favor inserir um DRE válido</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="phone" class="col-sm-4 control-label">Telefone<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="phone" name="phone" ng-model="teacher.person.phoneNumber"
                   ui-mask="(99) 9?9999-9999" ui-mask-placeholder placeholder="(99) 99999-9999" ng-required="true">
            <lci-mensagens expressao="teacherForm.phone.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="teacherForm.phone.$touched">Por favor preencher um telefone
              </lci-mensagem>
              <lci-mensagem caso="mask">Telefone inválido</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="operator" class="col-sm-4 control-label">Monitor</label>
          <div class="col-sm-8">
            <input bs-switch ng-model="teacher.user.operator" id="operator" name="operator" type="checkbox">
          </div>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="form-group">
          <label for="mail" class="col-sm-4 control-label">E-mail</label>
          <div class="col-sm-8 input-group" style="padding: 0 15px">
            <input type="text" id="mail" class="form-control" ng-model="teacher.user.login"
                   aria-describedby="basic-addon2" ng-disabled="true">
            <span class="input-group-addon" id="basic-addon2">@dcc.ufrj.br</span>
          </div>
        </div>

        <div class="form-group">
          <label for="login" class="col-sm-4 control-label">Login<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="login" name="login" ng-model="teacher.user.login" ng-disabled="true">
          </div>
        </div>

        <div class="form-group">
          <label for="externMail" class="col-sm-4 control-label">E-mail Externo<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="externMail" name="externMail"
                   ng-model="teacher.person.externMail" placeholder="exemplo@minhaempresa.com.br" ng-required="true">
            <lci-mensagens expressao="teacherForm.externMail.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="teacherForm.externMail.$touched">Por favor preencher um email
              </lci-mensagem>
              <lci-mensagem caso="email">E-mail inválido</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-4 control-label">Senha</label>
          <div class="col-sm-8">
            <button id="password" type="button" ng-click="changePasswordModalOpen(teacher.user)"
                    class="btn btn-block btn-primary">Alterar senha
            </button>
          </div>
        </div>

      </div>
    </div>

    <lci-formbotoessalvar ng-model="teacher" fn-cancelar="filtrar()" fn-salvar="salvar(teacher)"
                          lci-disabled="teacherForm.$invalid"></lci-formbotoessalvar>
  </fieldset>
</form>