<br />
<form class="form-horizontal gerencia-formulario">
  <fieldset>
    <lci-formtitulo>Sistema</lci-formtitulo>

    <div class="form-group" ng-if="sistema.id">
      <label for="id" class="col-sm-1 control-label">ID</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="id" ng-model="sistema.id" ng-disabled="true">
      </div>
    </div>

    <div class="form-group">
      <label for="nome" class="col-sm-1 control-label">Nome</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="nome" ng-model="sistema.nome" placeholder="Nome">
      </div>
    </div>

    <lci-formbotoessalvar ng-model="sistema" fn-cancelar="filtrar()" fn-salvar="salvar(sistema)"></lci-formbotoessalvar>
  </fieldset>
</form>