<div class="form-signin-box">
  <div class="row form-signin-body">
    <div class="col-md-6 form-signin-left text-center">
      <img src="/assets/img/module/lci/assets/logo.png">
      <h1>
        Gerencia<br />
        <small>Sistema de Gestão de Acesso</small>
      </h1>
    </div><!-- div[form-signin-left]-->
    <div class="col-md-6 form-signin-right">
      <form class="form-signin" role="form" ng-submit="vm.login()">
        <div class="form-signin-box-section">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" id="inputEmail" class="form-control input-form-signin" placeholder="Login" ng-model="vm.credentials.uid" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control input-form-signin" placeholder="Password" ng-model="vm.credentials.password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="vm.credentials.keep"> Permanecer Conectado
            </label>
          </div>
          <span ng-show="authenticatedError" class="text-danger"><strong>Falhou!</strong> Usuário não autenticado</span>
          <button class="btn btn-lg btn-primary btn-block btn-submit-form-signin" type="submit">Entrar</button>
        </div><!-- div[form-signin-box-section]-->
      </form><!-- form[form-signin]-->
    </div><!-- div[form-signin-right]-->
  </div>
  <div class="row form-signin-foot">
    <div class="row text-center">
      <span>LCI - Laboratório de Computação e Informática</span>
    </div>
  </div>
</div><!-- div[form-signin-box]-->

