<form class="form-horizontal gerencia-formulario">
  <fieldset>
    <lci-formtitulo>Filtro</lci-formtitulo>
    <div class="gerencia-formulario-corpo row">
      <div class="form-group">
        <label for="nome" class="col-sm-1 control-label">Nome</label>

        <div class="col-sm-3">
          <input type="text" class="form-control" id="nome" ng-model="filtro.nome" placeholder="Nome">
        </div>
        <label for="sobrenome" class="col-sm-1 control-label">Sobrenome</label>

        <div class="col-sm-3">
          <input type="text" class="form-control" id="sobrenome" ng-model="filtro.sobrenome" placeholder="Sobrenome">
        </div>
        <label for="login" class="col-sm-1 control-label">Login</label>

        <div class="col-sm-3">
          <input type="text" class="form-control" id="login" ng-model="filtro.login" placeholder="login">
        </div>
      </div>
      <div class="form-group">
        <label for="dre" class="col-sm-1 control-label">DRE</label>

        <div class="col-sm-3">
          <input type="text" class="form-control" id="dre" ng-model="filtro.dre" placeholder="DRE">
        </div>

        <label for="expiracaoDe" class="col-sm-1 control-label">De</label>
        <span class="col-md-3 control-label">
          <ng-bs3-datepicker class="lci-no-validate" ng-model="filtro.expiracaoDe" id="expiracaoDe" name="expiracaoDe"
                             language="pt-br" date-format="DD/MM/YYYY" lci-date ng-disabled="filtro.infinito">
        </span>

        <label for="expiracaoAte" class="col-sm-1 control-label">Até</label>
        <span class="col-md-3 control-label">
          <ng-bs3-datepicker class="lci-no-validate" ng-model="filtro.expiracaoAte" id="expiracaoAte" name="expiracaoAte"
                             language="pt-br" date-format="DD/MM/YYYY" lci-date ng-disabled="filtro.infinito">
        </span>
      </div>

      <div class="form-group">
        <label for="expiracao" class="col-sm-1 control-label">Expiração:</label>
        <div class="col-sm-3">
          <input bs-switch ng-model="filtro.infinito" id="expiracao" name="infinito" type="checkbox" switch-label="Infinito" switch-on-text="Sim" switch-off-text="Não" switch-size="">
        </div>
      </div>
    </div>
    <lci-formbotoesfiltro ng-model="filtro" fn-limpar="limpar" fn-inserir="inserir()"
                          filtrar="buscar(filtro)"></lci-formbotoesfiltro>
  </fieldset>
</form>
<hr>
<table class="table table-hover gerencia-tabela">
  <thead>
  <tr>
    <th width="15">#</th>
    <th>Nome</th>
    <th>DRE</th>
    <th>Login</th>
    <th colspan="4" width="15">Expiração</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="aluno in lista">
    <td>{{aluno.id}}</td>
    <td>{{aluno.nome}} {{aluno.sobrenome}}</td>
    <td>{{aluno.dre | lciDREFilter}}</td>
    <td>{{aluno.usuario.login}}</td>
    <td width="15" class="text-center">{{aluno.expiracao||'-' | date:'dd/MM/yyyy'}}</td>
    <td width="5">
      <button id="senha" type="button" ng-click="abrirAlterarSenha(aluno.usuario)" class="btn btn-link gerencia-botao-link"><i
        class="glyphicon glyphicon-lock" uib-tooltip="Alterar Senha" tooltip-placement="top"></i></button>
    </td>
    <td width="5">
      <button type="button" ng-click="editar(aluno.id)" class="btn btn-link gerencia-botao-link" uib-tooltip="Editar" tooltip-placement="top"><i
        class="glyphicon glyphicon-pencil"></i></button>
    </td>
    <td width="5">
      <button type="button" class="btn btn-link gerencia-botao-link" uib-tooltip="Remover" tooltip-placement="top" ng-click="deletar(aluno.id)"><i
        class="glyphicon glyphicon-trash"></i></button>
    </td>
  </tr>
  <tr ng-if="!lista || lista.length == 0">
    <td colspan="9"><p class="text-danger">Nenhum resultado encontrado!</p></td>
  </tr>
  </tbody>
</table>
