<form class="form-horizontal gerencia-formulario" name="alunoForm" ng-init="alunoForm.$setPristine()" novalidate>
  <fieldset>
    <lci-formtitulo>Aluno</lci-formtitulo>
    <div class="gerencia-formulario-corpo row">
      <div class="col-sm-6">
        <div class="form-group" ng-if="aluno.id">
          <label for="id" class="col-sm-4 control-label">ID</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="id" name="id" ng-model="aluno.id" ng-disabled="true">
          </div>
        </div>

        <div class="form-group">
          <label for="nome" class="col-sm-4 control-label">Nome<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="nome" name="nome" ng-model="aluno.nome" placeholder="Nome" ng-required="true" ng-minlength="1" ng-maxlength="64" ng-trim="true" lci-capitalize-nome>
            <lci-mensagens expressao="alunoForm.nome.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="alunoForm.nome.$touched">Por favor preencher o nome</lci-mensagem>
              <lci-mensagem caso="maxlength">O nome deve ter menos de 64 caracteres</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="sobrenome" class="col-sm-4 control-label">Sobrenome<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="sobrenome" name="sobrenome" ng-model="aluno.sobrenome" placeholder="Sobrenome" ng-required="true"  ng-minlength="1" ng-maxlength="64" ng-trim="true" lci-capitalize-nome>
            <lci-mensagens expressao="alunoForm.sobrenome.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="alunoForm.sobrenome.$touched">Por favor preencher o sobrenome</lci-mensagem>
              <lci-mensagem caso="maxlength">O nome deve ter menos de 64 caracteres</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="cpf" class="col-sm-4 control-label">CPF<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="cpf" name="cpf" ui-mask="999.999.999-99" ui-mask-placeholder ng-model="aluno.cpf" placeholder="CPF" ng-required="true" ng-pattern="'([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})'" ng-maxlength="14" lci-validacao-promise promise-fn="cpfUnico" lci-verifica-cpf>
            <lci-mensagens expressao="alunoForm.cpf.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="alunoForm.cpf.$touched">Por favor preencher o CPF!</lci-mensagem>
              <lci-mensagem caso="maxlength">O CPF deve ter exatamente 14 caracteres!</lci-mensagem>
              <lci-mensagem caso="pattern">Por favor inserir um CPF válido!</lci-mensagem>
              <lci-mensagem caso="mask">Por favor inserir um CPF válido!</lci-mensagem>
              <lci-mensagem caso="validacaoPromise">CPF já cadastrado!</lci-mensagem>
              <lci-mensagem caso="verificaCpf">CPF inválido!</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="dre" class="col-sm-4 control-label">DRE<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="dre" ui-mask="99999999-9" ui-mask-placeholder name="dre" ng-model="aluno.dre" placeholder="DRE" ng-required="true">
            <lci-mensagens expressao="alunoForm.dre.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="alunoForm.dre.$touched">Por favor preencher o DRE</lci-mensagem>
              <lci-mensagem caso="maxlength">O DRE deve ter exatamente 10 caracteres</lci-mensagem>
              <lci-mensagem caso="mask">Por favor inserir um DRE válido</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="ativo" class="col-sm-4 control-label">Ativo</label>
          <div class="col-sm-8">
            <input bs-switch ng-model="aluno.usuario.ativo" id="ativo" name="ativo" type="checkbox" switch-on-text="Sim" switch-off-text="Não">
          </div>
        </div>
      </div>
      <div class="col-sm-6">

        <div class="form-group">
          <label for="expiracao" class="col-sm-4 control-label">Expiração</label>
          <div class="col-sm-8">
            <ng-bs3-datepicker ng-model="aluno.usuario.expiracao" id="expiracao" name="expiracao" language="pt-br" date-format="DD/MM/YYYY" ng-disabled="aluno.usuario.infinito" lci-date>
          </div>
          <div class="col-sm-offset-4 col-sm-8">
            <input bs-switch ng-model="aluno.usuario.infinito" name="infinito" type="checkbox" switch-label="Infinito" switch-on-text="Sim" switch-off-text="Não" switch-size="mini">
          </div>
        </div>

        <div class="form-group">
          <label for="login" class="col-sm-4 control-label">Login<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="login" name="login" ng-model="aluno.usuario.login" placeholder="Login" ng-required="true"  ng-minlength="8" ng-maxlength="32" ng-trim="true" ng-pattern="'^[a-zA-Z]([a-zA-z]|[0-9]|_)*$'" lci-validacao-promise promise-fn="loginUnico">
            <lci-mensagens expressao="alunoForm.login.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="alunoForm.login.$touched">Por favor preencher o login</lci-mensagem>
              <lci-mensagem caso="maxlength">O login deve ter no máximo 32 caracteres</lci-mensagem>
              <lci-mensagem caso="minlength">O login deve ter no mínimo 8 caracteres</lci-mensagem>
              <lci-mensagem caso="pattern">Login inválido</lci-mensagem>
              <lci-mensagem caso="validacaoPromise">Login já existente</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="senha" class="col-sm-4 control-label">Senha<span class="lci-require"></span></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="senha" name="senha" ng-model="aluno.usuario.senha" placeholder="Senha" ng-required="true" ng-minlength="8" ng-maxlength="30" ng-trim="true" lci-validacao-senha>
            <lci-mensagens expressao="alunoForm.senha.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="alunoForm.senha.$touched">Por favor preencher a senha</lci-mensagem>
              <lci-mensagem caso="maxlength">A senha deve ter no máximo 30 caracteres</lci-mensagem>
              <lci-mensagem caso="minlength">A senha deve ter no mínimo 8 caracteres</lci-mensagem>
              <lci-mensagem caso="validacaoSenhaMaiuscula">A senha deve ter pelo menos uma maiuscula</lci-mensagem>
              <lci-mensagem caso="validacaoSenhaMinuscula">A senha deve ter pelo menos uma minuscula</lci-mensagem>
              <lci-mensagem caso="validacaoSenhaNumero">A senha deve ter pelo menos um numero</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

        <div class="form-group">
          <label for="rsenha" class="col-sm-4 control-label">Repita a senha</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="rsenha" name="rsenha" ng-model="aluno.usuario.rsenha" placeholder="Repita a senha" lci-validacao-repetir-senha senha="aluno.usuario.senha" ng-required="true" ng-trim="true">
            <lci-mensagens expressao="alunoForm.rsenha.$error" class="help-block lci-formulario-mensagens-erro">
              <lci-mensagem caso="required" ng-if="alunoForm.rsenha.$touched">Por favor preencher novamente a senha</lci-mensagem>
              <lci-mensagem caso="validacaoRepetirSenha">As senhas são diferentes</lci-mensagem>
            </lci-mensagens>
          </div>
        </div>

      </div>
    </div>

    <lci-formbotoessalvar ng-model="aluno" fn-cancelar="filtrar()" fn-salvar="salvar(aluno)" lci-disabled="alunoForm.$invalid"></lci-formbotoessalvar>
  </fieldset>
</form>